@import "./reset.css";

:root {
  --color-light-gray: #f0f0f8;
  --color-light-gray-shadow: #e1e1e8;
  --color-light-orange: #ffead6;
  --color-light-orange-shadow: #ffe0c1;
  --color-light-pink: #f7e2ec;
  --color-light-pink-shadow: #f9d7e6;
  --color-light-blue: #e5f3fb;
  --color-light-blue-shadow: #cae3f1;
  --color-light-green: #e2f7e8;
  --color-light-purple: #ece4f7;
  --color-light-yellow: #fff1d6;
  --color-accent: #36bdc1;
  --color-font-base: #333;
  --color-gray: #666;
}

html {
  color: var(--color-font-base);
}

body {
  background-color: #f7f7f7;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100svh;
}

main {
  margin-bottom: 4rem;
}

.inner {
  margin-inline: auto;
  padding-inline: 20px;
  max-width: 1200px;
  width: 100%;
}

.inner-s {
  margin-inline: auto;
  padding-inline: 20px;
  max-width: 650px;
  width: 100%;
}

.inner-xs {
  margin-inline: auto;
  padding-inline: 20px;
  max-width: 420px;
  width: 100%;
}

a {
  color: var(--color-font-base);
  text-decoration: none;
}

section {
  padding-block: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 700;
}

/* 非表示項目 */
.hidden {
  display: none;
}

/* 白背景 */
.bg-white {
  padding: 2em 1rem;
  background-color: #fff;
}

/* ボタンエリア */
.button-area {
  margin-top: 2em;
}
.button-area-lg {
  margin-top: 4em;
}
.button-area-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ボタン（基本：アクセントカラー） */
button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.button {
  display: inline-block;
  padding: 0.5em 1.7em;
  min-width: 200px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: var(--color-accent);
  white-space: nowrap;
}
/* ボタン（白） */
.button-white {
  min-width: initial;
  color: var(--color-font-base);
  background-color: #fff;
  border: 1px solid #ddd;
}
/* ボタン（アイコンつき） */
.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-icon img {
  margin-right: 0.5em;
}
/* ボタン（戻る） */
.button-return {
  position: relative;
  padding-left: 2em;
}
.button-return::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.8em;
  width: 0.5em;
  height: 0.5em;
  margin-top: -0.25em;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-135deg);
}

/* ボタン（次へ） */
.button-next {
  position: relative;
  padding-right: 2em;
}
.button-next::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.8em;
  width: 0.5em;
  height: 0.5em;
  margin-top: -0.25em;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg);
}

/* ボタン（小） */
.button-small {
  font-size: 0.8rem;
}

/* 下線あり */
.underlined {
  text-decoration: underline;
}

/* 番号つきリスト */
.number-list {
  list-style: decimal;
  padding-left: 1em;
}
.number-list > li + li {
  margin-top: 2rem;
}
.number-list > li::marker {
  font-size: 1.2rem;
  font-weight: bold;
}
.number-list h2 {
  margin-bottom: 0.7rem;
}

/* 表 */
table {
  margin-inline: auto;
  background-color: #fff;
}
table .head {
  border-bottom: 1px solid #ccc;
}
th,
td {
  padding: 0.5em 1em;
  text-align: center;
}

/* フォーム */
input[type="text"],
input[type="date"],
input[type="number"],
textarea,
select {
  padding: 0.3em;
  border: 1px solid #bbb;
  border-radius: 0.2em;
  background-color: #fff;
}
select {
  appearance: none;
}
input[type="text"]::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: #bbb;
}
input[type="number"] {
  padding-right: 0;
}
input[type="date"] {
  text-align: center;
}
textarea {
  width: 100%;
}
/* ラジオボタン、チェックボックス */
.form__checkbox,
[type="radio"] {
  padding: 0;
  opacity: 0;
}
.form__radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5em;
}
.form__radio-item {
  display: flex;
}
.form__radio-item label {
  position: relative;
  padding-left: 2em;
}
.form__radio-item label::before,
.form__radio-item label::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  border-radius: 50%;
}
.form__radio-item label::before {
  width: 20px;
  height: 20px;
  left: 0;
  background-color: #fff;
  border: 1px solid #dedede;
}
.form__radio-item label::after {
  width: 12px;
  height: 12px;
  left: 4px;
  background-color: var(--color-accent);
  opacity: 0;
}
.form__radio-item input[type="radio"]:checked + label::after {
  opacity: 1;
}
/* チェックボックス */
.form__checkbox-label {
  position: relative;
  display: inline-block;
  margin-left: 1.8em;
  width: fit-content;
}
.form__checkbox-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.7em;
  left: -1.8em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form__checkbox-label:after {
  position: absolute;
  content: "";
  display: block;
  top: 0.7em;
  left: -1.4em;
  width: 7px;
  height: 11px;
  border-right: 2px solid var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
  -webkit-transform: translateY(-70%) rotate(45deg);
  transform: translateY(-70%) rotate(45deg);
  opacity: 0;
}
.form__checkbox:checked {
  color: #1a049b;
}
.form__checkbox:checked + .form__checkbox-label:after {
  opacity: 1;
}
/* セレクトボックス */
.form__select-wrap {
  position: relative;
  display: inline-block;
  width: fit-content;
}
.form__select-wrap::after {
  content: "";
  position: absolute;
  right: 0.4em;
  top: 50%;
  width: 6px;
  height: 6px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  transform: translateY(-50%) rotate(-135deg);
  font-size: calc(20 / 16 * 1rem);
  pointer-events: none;
}
.form__select-box {
  padding-right: 1.1rem;
  margin: 0 auto 0 0;
}
.form__select-box option {
  color: #000;
}
.form__select-box + span {
  margin-left: 0.5em;
}
select[disabled] {
  background-color: var(--color-light-gray);
}
/* 必須ラベル */
.form__required {
  display: inline-block;
  margin-left: 2em;
  padding: 0.1em 0.5em;
  font-weight: 700;
  font-size: 0.7rem;
  color: #fff;
  background-color: var(--color-accent);
  text-align: center;
}
/* テーブル */
.table-primary {
  width: 100%;
  border-collapse: collapse;
}
.table-primary-head {
  background-color: var(--color-gray);
}
.table-primary-head th {
  font-size: 0.8em;
  color: #fff;
  line-height: 1.1;
}
.table-primary-body:nth-child(odd) {
  background-color: #f9f9f9;
}
.table-primary-head th,
.table-primary-body td {
  padding: 0.5rem;
  height: 100%;
  border: 1px solid #eee;
}
/* モーダル */
.modal {
  position: relative;
  padding: 2rem;
  border: none;
}
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-accent);
  color: #fff;
}
/* エラーメッセージ */
.form__error {
  margin-top: 0.5em;
  font-size: 0.8rem;
  color: #ff0000;
}
/* 管理画面リード文 */
.lead {
  margin-bottom: 2rem;
}

/* 表示切り替え */
.pc-only {
  display: none;
}

/* ホバー */
@media (hover: hover) {
  a:is(:hover, :focus-visible),
  button:is(:hover, :focus-visible) {
    opacity: 0.8;
  }
}

/* PC */
@media (min-width: 768px) {
  /* 表示切り替え */
  .sp-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
  /* モーダル */
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
